services:
  db:
    image: postgres:15-alpine
    container_name: store_postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      DB_APP_USER: ${DB_APP_USER}
      DB_APP_PASSWORD: ${DB_APP_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db/00_schema.sql:/docker-entrypoint-initdb.d/01_schema.sql
      - ./db/01_seed.sql:/docker-entrypoint-initdb.d/02_seed.sql
      - ./db/02_reports_vw.sql:/docker-entrypoint-initdb.d/03_reports_vw.sql
      - ./db/indexes.sql:/docker-entrypoint-initdb.d/04_indexes.sql
      - ./scripts/setup_roles.sh:/docker-entrypoint-initdb.d/05_setup_roles.sh
      - ./db/03_roles.sql:/db/roles.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  web:
    build: .
    container_name: store_nextjs
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      db:
        condition: service_healthy

volumes:
  pgdata: